{{!< default}}

<section class="page-content error">
	<header class="header">
		<h1>{{t "404"}}</h1>
		<p class="page-excerpt">{{t "The page you were looking for could not be found."}}</p>
	</header>
</section>
