.hero {
  padding: 40px 0 70px 0;
  margin-bottom: 0 !important;

  @include phone {
    padding: 0 0 50px 0;
  }

  h2 {
    font-size: 42px !important;
    font-weight: 300 !important;
    line-height: 60px !important;

    @include phone {
      font-size: 32px !important;
      line-height: 48px !important;
    }
  }

  > *:first-child {
    padding-top: 0 !important;
  }
}
